<div class='row'>
    <div class='login-wrapper'>
        <p-card class="login-card" header="Login" subheader="Use your COGS credentials to login">
          <div [formGroup]="loginForm">
            <div class="p-col"></div>
            <div class="p-grid p-dir-col">
              <div class="p-col login-logo">
                <img src='/assets/logo.png' alt=""/>
              </div>
              <div class="p-col"></div>
              <div class="p-col">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                  <input type="text" pInputText placeholder="Username" formControlName="userName">
                  <span *ngFor="let validation of loginFormValidationMessages.userName">
                    <p-message *ngIf="userLoginAttempt && userName.hasError(validation.type) && (userName.dirty || userName.touched)" severity="error" [text]="validation.message"></p-message>
                  </span>
                </div>
              </div>
              <div class="p-col">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
                  <input type="password" pInputText placeholder="Password" formControlName="password">
                  <span *ngFor="let validation of loginFormValidationMessages.password">
                    <p-message *ngIf="userLoginAttempt && password.hasError(validation.type) && (password.dirty || password.touched)" severity="error" [text]="validation.message"></p-message>
                  </span>
                </div>
              </div>
            </div>
            <div class="p-col"></div>
            <p-footer>
              <button pButton type="button" (click)="onLogin()" label="Login" icon="pi pi-check" style="margin-right: .25em"></button>
            </p-footer>
          </div>
        </p-card>
    </div>
</div>
